<!DOCTYPE html>
<html>
<body>
	<!-- This is a simple example template with a form that has a single input field. 
		   You'll need something similar for the login page -->
  <form action = "/" method = "get">
  	 <%if (message != null) { %>
  	<font color="red"><%= message %><p>
  	<% } %>
  	<p>
    <input type="submit" value="Return to Login Screen">
  </p>
  </form>
</body>
</html>
